
* {
  font-family: Arial, sans-serif;
}
* ::selection {
  background-color: green;
  color: #fff;
}
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 40px;
}
h1 {
  font-size: 50px;
  text-decoration: underline dotted;
  text-decoration-color: darkgreen;
  font-weight: bolder;
}
input {
  width: 16%;
  height: fit-content;
  padding: 8px;
  margin: 8px 0;
  box-sizing: content-box;
  border-bottom: 3px solid green;
  border-radius: 25px;
  color: black;
  outline: none;
  transition: width 0.4s ease-in-out;
  text-align: center;
  font-size: large;
}
input:focus {
  border: 5px solid darkgreen;
  background-color: lightgreen;
  width: 100%;
}
footer{
    text-align: center;
    padding-top: 10%;
    color: grey;
    font-weight: bold;
}